{% extends "base.html" %}

{% block content %}
<div class="row">
    <div class="col-lg-8">
        <p class="lead mb-4">Scan the receipt from the store and cook delicious dishes from what you have already bought!</p>
    
    </div>
    <div class="col-lg-4">
        <div class="card shadow-sm">
            <div class="card-header bg-primary text-white">
                <h5 class="mb-0">About us</h5>
            </div>
            <div class="card-body">
                <p>A computer science project using machine learning.</p>
                <ul class="mb-0">
                    <li>Receipt recognition (computer vision)</li>
                    <li>Recipe Recommendations (ML)</li>
                    <li>Catalog of dishes</li>
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}
